<html lang="es">
    <head>
        {{> head}}
    </head>
    <body>
        <div class="preloader" style="opacity: 0; display: none;">
            <div class="loader">
                <div class="spinner">
                    <div class="spinner-container">
                        <div class="spinner-rotator">
                            <div class="spinner-left">
                                <div class="spinner-circle"></div>
                            </div>
                            <div class="spinner-right">
                                <div class="spinner-circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> header}}
        <div id="content">
            {{{body}}}
        </div>
        {{> footer}}
    </body>
</html>