<section class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6">
                <div class="hero-content-wrapper">
                    <h1 class="mb-25 wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                        Lynx Store
                    </h1>
                    <p class="mb-35 wow fadeInLeft" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        Todos los productos de Lynx y sus partners en la mejor tienda de tecnologia Oficial.
                    </p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6">
                <div class="hero-img">
                    <div class="d-inline-block hero-img-right">
                        <img
                                src='/img/svg/devices.svg'
                                alt=""
                                class="image wow fadeInRight"
                                data-wow-delay=".5s"
                                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="client-logo-section pt-100">
    <div class="container">
        <h1 class="text-center fsite-title">Marcas con las que Trabajamos</h1>
        <div class="client-logo-wrapper">
            <div class="tns-outer" id="tns1-ow">
                <div id="tns1-mw" class="tns-ovh">
                    <div class="tns-inner" id="tns1-iw">
                        <div class="client-logo-carousel d-flex align-items-center justify-content-between tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns1" style="transform: translate3d(-57.1429%, 0px, 0px); transition-duration: 0s;">

                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <a href="https://www.roku.com/" target="_blank" rel="external">
                                    <img
                                            class="img-fluid client-logo-img"
                                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Roku_logo.svg/1280px-Roku_logo.svg.png"
                                            alt="Roku"
                                            title="Roku" />
                                </a>
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <a href="https://support.google.com/chromecast/chromecast?hl=es#topic=3058948" target="_blank" rel="external">
                                    <img
                                            class="img-fluid client-logo-img"
                                            src="https://logos-download.com/wp-content/uploads/2016/09/Chromecast_logo.png"
                                            alt="Chromecast"
                                            title="Chromecast" />
                                </a>
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <a href="https://listado.mercadolibre.com.ar/amazon-fire-tv" target="_blank" rel="external">
                                    <img
                                            class="img-fluid client-logo-img"
                                            src="https://m.media-amazon.com/images/G/01/kindle/journeys/MGY2NGFiMTEt/MGY2NGFiMTEt-Y2ZkZTg3NzUt-w1500"
                                            alt="FireTV"
                                            title="FireTV" />
                                </a>
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <a href="https://www.apple.com/la/apple-tv-plus/" target="_blank" rel="external">
                                    <img
                                            class="img-fluid client-logo-img"
                                            src="https://logos-marcas.com/wp-content/uploads/2021/03/Apple-TV-Logo.png"
                                            alt="AppleTV"
                                            title="AppleTV" />
                                </a>
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <a href="https://www.amd.com/" target="_blank" rel="external">
                                    <img
                                            class="img-fluid client-logo-img"
                                            src="https://logos-world.net/wp-content/uploads/2020/03/AMD-Symbol.png"
                                            alt="AMD"
                                            title="AMD" />
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="subscribe-section pt-70 pb-70 img-bg" style="background: var(--site-color);height: 320px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="section-title mb-30">
          <span class="text-white wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
            Contacto
          </span>
                    <h2 class="text-white mb-40 wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        No dudes en contactarte con nosotros
                    </h2>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 text-center">
                <a href="/contacto/" style="background: var(--bg-site)">Contacto</a>
            </div>
        </div>
    </div>
</section>
