{{> topbanner title="Registro" description="Crea tu usuario de Lynx Store"}}

<div class="container pt-75 pb-75">
    <div class="row">
        <div class="col-md-5">
            <img src="/img/svg/register.svg" class="img-fluid" />
        </div>
        <div class="col-md-5">
            <form class="container" action="/api/auth/register" enctype="multipart/form-data" method="POST">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" required/>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastname" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" required/>
                    </div>
                    <div class="col-md-8 mb-3">
                        <label for="phone" class="form-label">Teléfono</label>
                        <input type="number" class="form-control" id="phone" name="phone" required/>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="age" class="form-label">Edad</label>
                        <input type="number" class="form-control" id="age" name="age" required/>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="address" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="address" name="address" required/>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="avatar" class="form-label">Imagen</label>
                        <input type="file" class="form-control" id="avatar" name="avatar" required/>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="email" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="email" name="email" required/>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required/>
                    </div>
                    <div class="col-12 mb-3">
                        <button type="submit" class="btn btn-primary col-12">Registrarse</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>