<div class="container" style="margin-top: 200px; margin-bottom: 80px;">
    <div class="row">
        <div class="col-12">
            <div class="container bg-error">
                <div class="row text-center">
                    <div class="col-md-7">
                        <img src="/img/svg/producterror.svg" class="img-fluid">
                    </div>
                    <div class="col-md-5">
                        <h1 style="color: var(--site-color); margin-bottom: 100px;">Ups!</h1>
                        <p style="font-size: 20px;">
                            Ocurrió un error al intentar agregar el producto, vuelvelo a intentar y si el error persiste comuníquese con nosotros.
                        </p>
                        <div class="col-12 text-center" style="margin-top: 100px;">
                            <a href="/" class="btn btn-primary">
                                Volver al Inicio
                            </a>
                            <a href="/contacto/" class="btn btn-primary">
                                Ir a contacto
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>