{{> topbanner title="Carro de compra" description="Tu carro de compras esta listo para confirmar"}}

<div class="container">
    <div class="row" id="cart-list-section" style="padding: 60px;">

    </div>
</div>

<script>
    drawCartList();
</script>