{{> topbanner title="Nuestros Productos" description="Prodras ver los productos que ofrece nuestra tienda"}}

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4" id="products-section" style="margin: 50px 0px;"></div>
</div>

<script>
    drawProducts();
</script>